In [69]:
#integers,floating point,string
a=1
b=2.4556
c='asas'
print(a,b,c)

1 2.4556 asas

In [70]:
t1=(23,34,"hi",23.88)
t2=("as",)
print(t1+t2)

(23, 34, 'hi', 23.88, 'as')

In [71]:
#lists
l0=[12,424,2,73467,135342,21,125,1]
l1=["a",1,2,3,"b"]
l1.append(3)#appends a value at the end of the list
l1.copy()#copies all the values of one list to another
l1.count(3)#counts the no of times the argument is present
l1.extend("a")#wxtend concatenates the first list with another list
l1
l1.index('a')#returns the index of the arguement if the values is present more than once it returns the first instance if the arguement
l1.insert(3,"d")#is used to add values to the list in desired position
l1.pop()#removes the last element from the list
l1.remove(2)#removes the desired element if the values is present more than once it removes the first instance if the arguement
l1.reverse()#reverse the list
l0.sort()#sorts the list
print(l0,l1)
l1.clear()#clears all the values present in the list returns empty list

[1, 2, 12, 21, 125, 424, 73467, 135342] [3, 'b', 3, 'd', 1, 'a']

In [72]:
#dictionaries
d1={'a':1,'b':2}
d1.values()#returns the values in the dict
d2={'c':3}
d1.update(d2)#adds value at the end of the dict
d1.keys()#returns the keys in the dict
#d1.clear()#clears all the values present in the dict returns empty list
d1.fromkeys('b',3)#returns a new dictionary with the given sequence of elements as the keys of the dictionary.
d1.copy()#copies all the values of one dict to another
d1.items()#returns the items of the dict
d1.get('a')#returns values with keys as arguements
d1.pop('b')#reomves item with key as arguement
d1.popitem()#removes last item
d1.setdefault('a')# returns a value if the key is present else none or default value.
d1

{'a': 1}

In [73]:
#sets
s1={1,2,"1",'B'}
s2={2,4,5,6}
s1.add(3)#adds value at the end of the set
s1.copy()#copies all the values of one set to another
# s1.difference(s2)#returns the not common elements in the sets
# s1.difference_update(s2)#removes the common elements from the set before dot with the elements pass as arguements
s1.discard(1)#removes element which is the arguement 
s1.intersection(s2)#returns common element
s1.intersection_update(s2)#adds the common elements from the set before dot with the elements pass as arguements
s1.isdisjoint(s2)#returns true if common elements exist otherwise vice-versa
s1.issubset(s2)#returns true if subset to arguement
s1.issuperset(s2)#returns true if superset to arguement
s1.pop()#removes last element
s2.remove(2)#removes element given as arguement
s1.symmetric_difference(s2)#returns the symmetric difference of two sets.
s1.symmetric_difference_update(s2)#returns a new set which contains symmetric difference of two sets.
s1.union(s2)#returns a new set by adding the arguement set,if the argument is not passed returns a shallow copy of the set.
s1.update(s1)#updates the set with arguement as new set
s1

{4, 5, 6}